.container-todos {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  height: 70vh;
  border: 2px solid white;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  margin: 20px 20%;
  overflow: auto;
  -webkit-box-shadow: 9px 10px 33px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 33px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 10px 33px 0px rgba(0, 0, 0, 0.75);
}

.container-todos--title {
  font-size: 30px;
  margin: 5px 0px;
}

.container-todos__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-todos__image--img {
  width: 40%;
}

.container-todos__list--item {
  font-size: 30px;
  list-style: none;
  transition: 200ms all;
  cursor: pointer;
}

.container-todos__list--item:hover {
  color: crimson;
}

@media screen and (max-width: 768px) {
  .container-todos {
    border: none;
    width: auto;
  }
}
